.chatcompo {
    display: flex;
    padding-left: 15px;
    height: 100vh; /* Full height of the viewport */
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 20%;
    height: 100%; /* Full height of the chat container */
    background-color: rgba(15, 15, 68, 0.868);
    font-size: large;
    padding-top: 20px;
}

.logo {
    padding-top: 30px;
}

.content {
    padding-top: 30px;
}

.down {
    line-height: 30px;
    text-align: center;
    padding-top: 40px;
    word-spacing: 2px;
}

.button {
    padding-top: 40px;
}

.right {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    height: 100%; /* Full height of the chat container */
}

.chat-messages {
    overflow-y: auto;
    flex-grow: 1;
    margin-bottom: 10px; /* Space for the input box */
}

.input-container {
    position: fixed;
    bottom: 0;
    width: 75%; /* Same width as the right container */
    background-color: rgba(66, 66, 156, 0.868);
    padding: 10px;
}

#textbox {
    width: calc(100% - 50px); /* Adjust based on the search icon size */
    color: white;
    font-size: large;
    background-color: rgba(66, 66, 156, 0.868);
}

#search {
    width: 40px;
    height: 30px;
}
