.text{
    font-size: 24px;
    padding-left: 20px;
    color: white;
}
.link{
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    
}

.logoscomponent{
    display: flex;
    align-items: center;
    /* position: fixed; */
}

.but1 , .but2 {
    padding-right: 20px;
}

.but1log{

}

.flexda{
    display: flex;
    align-items: center;
}

